= simple_form_for(@faq) do |f|
  = f.error_notification

  .form-body
    .form-group
      = f.input :title
      = f.input :content, as: :ckeditor

      = f.button :submit
      .pull-right
        = link_to faqs_path, class: 'btn btn-success' do
          Back
        = link_to @faq, class: 'btn btn-primary' do
          Show