= simple_form_for(@faq) do |f|
  = f.error_notification

  .form-body
    .form-group
      = f.input :title
      = f.input :content, as: :ckeditor
      %br
      .pull-left
        -if params[:action] == "new" && policy(@faq).create?
          = f.button :submit, 'Create FAQ', class: 'btn btn-primary'
        -if params[:action] == "edit" && policy(@faq).update?
          = f.button :submit, 'Update FAQ', class: 'btn btn-primary'
      .pull-right
        -if policy(@faq).index?
          = link_to faqs_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if params[:action] == "edit" && policy(@faq).show?
          = link_to @faq, class: 'btn btn-primary' do
            = fa_icon 'eye'
            Show