.row
  .col-md-12.col-xs-12
    .portlet.light.bordered
      .portlet-title
        .caption
          %span.caption-subject.font-dark.sbold.uppercase
            Show FAQ

      .portlet-body.form
        %div
          %b Title:
          = @faq.title
        %br

        %div
          %b Content:
          = @faq.content
      %br
      %br

      .row
        .col-md-12.col-xs-12
          .row.wrap-pad
            .pull-left
              -if policy(@faq).index?
                = link_to faqs_path, class: 'btn btn-default' do
                  = fa_icon 'chevron-left'
                  Back
            .pull-right
              -if policy(@faq).edit?
                = link_to [:edit, @faq], class: 'btn btn-primary' do
                  = fa_icon 'pencil'
                  Edit
              -if policy(@faq).destroy?
                = link_to @faq, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
                  = fa_icon 'trash'
                  Delete
