= simple_form_for(@video_ad) do |f|
  = f.error_notification
  .form-body
    .form-group
      .row
        .col-xs-12.col-sm-6.text-center
          .image-uploader{align: 'center'}
            %a{:href => "#!"}
              = image_tag f.object.thumbnail, class: 'img-responsive', size: '150x150'
            = f.input :thumbnail, as: :file, label: 'Upload Thumbnail',
              :label_html => { class: 'btn btn-default'}
            = f.hidden_field :thumbnail_cache
            %p
              (250 x 166)

        .col-xs-12.col-sm-6.text-center
          .image-uploader{align: 'center'}
            %a{:href => "#!"}
              = image_tag f.object.banner, class: 'img-responsive', size: '150x150'
            = f.input :banner, as: :file, label: 'Upload Banner',
              :label_html => { class: 'btn btn-default'}
            = f.hidden_field :banner_cache
            %p
              (720 x 480)


      = f.input :title
      = f.input :video_file
      = f.input :start_date, as: :string, input_html: {class: 'date-picker'}
      = f.input :end_date, as: :string, input_html: {class: 'date-picker'}
      = f.input :earned_points
      = f.input :max_view_per_day
      = f.input :label
      = f.input :ios_url
      = f.input :android_url

      = f.button :submit, class: 'btn btn-primary'

      .pull-right
        = link_to video_ads_path, class: 'btn btn-success' do
          Back
        = link_to @video_ad, class: 'btn btn-primary' do
          Show

%div.video-position{:align => "center"}
  - if @video_ad.video_file.present?
    %video{ controls: "", name: "media", :height => "250px;", :width => "400px;"}
      %source{src: "#{@video_ad.video_file}", type: "video/mp4"}
