.portlet.light.bordered
  .portlet-title
    .caption
      Show Video Ad
          
  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Title:
        %td= @video_ad.title
      %tr
        %th Start date:
        %td= @video_ad.start_date
      %tr
        %th End date:
        %td= @video_ad.end_date
      %tr
        %th Earned points:
        %td= @video_ad.earned_points

      %tr
        %th Video ad:
        %td
          %video{ controls: "", name: "media", :height => "350px;", :width => "500px;"}
            %source{src: "#{@video_ad.video_file}", type: "video/mp4"}


    .row.wrap-pad
      .pull-left
        -if policy(@video_ad).index?
          = link_to video_ads_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
      .pull-right
        -if policy(@video_ad).edit?
          = link_to [:edit, @video_ad], class: 'btn btn-primary' do
            = fa_icon 'pencil'
            Edit