.container
  .row
    .col-md-12
      .portlet.light.bordered
        .portlet-title
          .caption
            %span.caption-subject.font-dark.sbold.uppercase 
              Show video_ad
          .actions
            .btn-group.btn-group-devided
              = link_to edit_video_ad_path(@video_ad), class: 'btn btn-transparent dark btn-outline btn-circle btn-sm active' do
                Edit
              = link_to video_ads_path, class: 'btn btn-transparent dark btn-outline btn-circle btn-sm' do
                Back
        .portlet-body.form
          %dt Title:
          %dd= @video_ad.title
          %dt Video:
          %dd
            =video_tag @video_ad.video, size: "160x120", controls: "true" 
          %dt Start date:
          %dd= @video_ad.start_date
          %dt End date:
          %dd= @video_ad.end_date
          %dt Earned points:
          %dd= @video_ad.earned_points

