.row
  .col-xs-12.col-md-12
    = simple_form_for(@store) do |f|
      = f.error_notification
      = f.association :company
      = f.input :name
      .row
        .col-xs-12.col-md-6
          = f.input :address
          %span#loading
            = image_tag 'loading.gif', size: '30x30', id: 'loading_image'
            %b#loading_message
          = f.input :phone, input_html: { class: 'inputmask' }
          = f.input :open_and_close
          = f.input :facebook
          = f.input :email
          = f.input :website
          = f.input :term_and_condition, as: :ckeditor
          = f.association :location
        .col-xs-12.col-md-6
          .row
            .col-xs-12.col-md-6
              = f.input :lat, input_html: {id: 'place_latitude'}
            .col-xs-12.col-md-6
              = f.input :long, input_html: {id: 'place_longitude'}
          #map

      %h5 Images
      .row
        .container-fluid
          #store-images
            = f.simple_fields_for :store_banners do |image|
              = render 'store_banner_fields', f: image
            .links
              = link_to_add_association 'Add Image', f, :store_banners, class: 'btn btn-success'
      %br
      .pull-left
        -if policy(@store).create? || policy(@store).update?
          = f.button :submit, class: "btn btn-primary"
      .pull-right
        -if policy(@store).index?
          = link_to stores_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if params[:action] == "edit" && policy(@store).show?
          = link_to @store, class: 'btn btn-info' do
            = fa_icon 'eye'
            Show
