.row
  .col-xs-12.col-md-12
    = simple_form_for(@store) do |f|
      = f.error_notification

      = f.input :name
      = f.input :address

      %span#loading
        = image_tag 'loading.gif', size: '30x30', id: 'loading_image'
        %b#loading_message
        
      = f.input :email
      = f.input :open_and_close
      = f.input :facebook
      = f.input :website
      = f.input :phone, input_html: { class: 'inputmask' }
      = f.association :company
      = f.association :location

      = f.input :lat, input_html: {id: 'place_latitude'}
      = f.input :long, input_html: {id: 'place_longitude'}

      #map
      .pull-left
        -if policy(@store).create? || policy(@store).update?
          = f.button :submit, class: "btn btn-primary"
      .pull-right
        -if policy(@store).index?
          = link_to stores_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if params[:action] == "edit" && policy(@store).show?
          = link_to @store, class: 'btn btn-info' do
            = fa_icon 'eye'
            Show