.row
  .col-xs-12.col-md-12
    = simple_form_for(@store) do |f|
      = f.error_notification

      = f.input :name

      = f.input :lat, as: :hidden, input_html: {id: 'place_latitude'}
      = f.input :long, as: :hidden, input_html: {id: 'place_longitude'}

      = f.input :address
      = f.association :company
      = f.association :location

      #map  
      .pull-left
        -if policy(@store).create? || policy(@store).update?
          = f.button :submit, class: "btn btn-primary"
      .pull-right
        -if policy(@store).index?
          = link_to stores_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if policy(@store).show?
          = link_to @store, class: 'btn btn-info' do
            = fa_icon 'eye'
            Show