.portlet.light.bordered
  .portlet-title
    .caption
      Show Store

  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Name:
        %td= @store.name
      %tr
        %th Address:
        %td= @store.address
      %tr
        %th Phone:
        %td= @store.phone
      %tr
        %th Website:
        %th= @store.website
      %tr
        %th Website:
        %th= @store.facebook
      %tr
        %th Website:
        %th= @store.open_and_close
      %tr
        %th Website:
        %th= @store.email
      %tr
        %th Company:
        %td= @store.company_name
      %tr
        %th Location:
        %td= @store.location_name

    %input{type: 'hidden', value: @store.lat, id: 'lat_value'}
    %input{type: 'hidden', value: @store.long, id: 'long_value'}

    #show-map

    .row.wrap-pad
      .pull-left
        -if policy(@store).index?
          = link_to stores_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
      .pull-right
        -if policy(@store).edit?
          = link_to [:edit, @store], class: 'btn btn-primary' do
            = fa_icon 'pencil'
            Edit
        -if policy(@store).destroy?
          = link_to @store, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
            = fa_icon 'trash'
            Delete
