-if policy(reward).show?
  = link_to reward, class: 'btn btn-info' do
    = fa_icon 'eye'
    Show
-if policy(reward).edit?
  = link_to [:edit, reward], class: 'btn btn-primary' do
    = fa_icon 'pencil'
    Edit
-if policy(reward).destroy?
  = link_to reward, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
    = fa_icon 'trash'
    Delete

