.row
  .col-xs-12.col-md-12
    = simple_form_for(@reward) do |f|
      = f.error_notification

      .form-body
        .text-center
          .image-uploader{align: 'center'}
            %a{:href => "#!"}
              = image_tag f.object.image, class: 'img-responsive', size: '150x150'
            = f.input :image, as: :file, label: 'Upload Image',
              :label_html => { class: 'btn btn-default'}
            = f.hidden_field :image_cache
            %p
              (Width 480px) - (Height 320px)

        = f.input :name
        = f.input :require_points
        = f.input :quantity
        = f.input :claimed_reward_expired,label: "Amount of Days Reward Expired"
        = f.input :price
        = f.input :start_date, as: :string, input_html: {class: 'date-picker'}
        = f.input :end_date, as: :string, input_html: {class: 'date-picker'}
        = f.association :store
        = f.input :description
        = f.input :term, as: :ckeditor

        .pull-left
          -if policy(@reward).create? || policy(@reward).update?
            = f.button :submit, class: "btn btn-primary"
        .pull-right
          -if policy(@reward).index?
            = link_to rewards_path, class: 'btn btn-default' do
              = fa_icon 'chevron-left'
              Back
          -if params[:action] == "edit" && policy(@reward).show?
            = link_to @reward, class: 'btn btn-info' do
              = fa_icon 'eye'
              Show
