.portlet.light.bordered

  .portlet-title
    .caption
      Editing Reward

  .portlet-body.form
    = render 'form'
    %br
    = link_to rewards_path, class: 'btn btn-default' do
      = fa_icon 'chevron-left'
      Back
    = link_to @reward, class: 'btn btn-success' do
      = fa_icon 'eye'
      Show