= render 'partials/page-head', title: 'Listing Reward'

.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => users_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-doc
      Reward
  .portlet-body
    .table-scrollable
      = paginate(@grid.assets)
      = datagrid_table @grid
      = paginate(@grid.assets)
    = link_to new_reward_path, class: 'btn btn-primary' do
      = fa_icon 'plus'
      Add New Reward