= render 'partials/page-head', title: 'Listing Reward'

.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => users_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-puzzle
      Reward
    .pull-right
      = link_to new_reward_path, class: 'btn btn-primary' do
        = fa_icon 'plus'
        Add New Reward
  .portlet-body
    .table-scrollable
      = datagrid_table @grid
    .text-center
      = paginate(@grid.assets)