.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse

    / BEGIN SIDEBAR MENU
    %ul.page-sidebar-menu{"data-auto-scroll" => "true", "data-keep-expanded" => "false", "data-slide-speed" => "200"}

      %li.nav-item.start{:class => ( "active" if sidebar_active?('home') )}
        - if policy(:receipt).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('receipts') )}
            = link_to receipts_url do
              %i.icon-wallet
              %span.title Receipts

        - if policy(:claimed_reward).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('claimed_rewards') )}
            = link_to claimed_rewards_url do
              %i.icon-diamond
              %span.title Claimed Rewards

        - if policy(:reward).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('rewards') )}
            = link_to rewards_url do
              %i.icon-puzzle
              %span.title Rewards

        - if policy(:company).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('companies') )}
            = link_to companies_url do
              %i.icon-briefcase
              %span.title Companies
        - if policy(:store).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('stores') )}
            = link_to stores_url do
              %i.icon-basket
              %span.title Stores
        - if policy(:location).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('locations') )}
            = link_to locations_url do
              %i.icon-map
              %span.title Locations
        - if policy(:category).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('categories') )}
            = link_to categories_url do
              %i.icon-pie-chart
              %span.title Categories
        - if policy(:merchant).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('merchants') )}
            = link_to merchants_url do
              %i.icon-user-following
              %span.title Merchants

        - if policy(:faq).index?
          %li.nav-item{:class => ("active" if sidebar_active?('faqs'))}
            = link_to faqs_url do
              %i.icon-user-following
              %span.title Faqs

        -if policy(:video_ad).index?
          %li.nav-item{:class => ("active" if sidebar_active?('video_ads'))}
            = link_to video_ads_url do
              %i.icon-user-following
              %span.title Video Ads




        - if policy(:sticker_group).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('sticker_groups') )}
            = link_to sticker_groups_url do
              %i.icon-layers
              %span.title StickerGroups

        - if policy(:sticker).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('stickers') )}
            = link_to stickers_url do
              %i.icon-bulb
              %span.title Stickers
        - if policy(:customer).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('customers') )}
            = link_to customers_url do
              %i.icon-users
              %span.title Customers

        - if policy(:user).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('users') )}
            = link_to users_url do
              %i.icon-user
              %span.title Users

        - if policy(:customer_location).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('stickers') )}
            = link_to customer_locations_url do
              %i.icon-pointer
              %span.title Customer Locations

        - if policy(:advertisement).index?
          %li.nav-item{:class => ("active" if sidebar_active?('advertisement'))}
            = link_to advertisements_url do
              %i.icon-pointer
              %span.title Advertisements
        - if policy(:promotion).index?
          %li.nav-item{:class => ("active" if sidebar_active?('promotion'))}
            = link_to promotions_url do
              %i.icon-pointer
              %span.title Promotions

        - if policy(:contact_form).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('stickers') )}
            = link_to contact_forms_url do
              %i.icon-envelope
              %span.title Contact Forms

        - if policy(:customer_chat_support).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('settings') )}
            = link_to customer_chat_supports_url do
              %i.icon-envelope
              %span.title Customer Chat Supports

        - if policy(:guide).index?
          %li.nav-item{:class => (" active" if sidebar_active?('guide'))}
            = link_to guides_url do
              %i.icon-envelope
              %span.title Watch and Earn Guides

        - if policy(:setting).index?
          %li.nav-item{:class => ( "active" if sidebar_active?('settings') )}
            = link_to settings_url do
              %i.icon-settings
              %span.title Settings

  / END SIDEBAR MENU
