.page-header.navbar.navbar-fixed-top
  .page-header-inner
    .page-logo
      %a{:href => "/"}
        = image_tag "logo.png", width: "160", class: "logo-default"
      .menu-toggler.sidebar-toggler

    %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
    .page-top
      .top-menu
        %ul.nav.navbar-nav.pull-right
          %li.dropdown.dropdown-user.dropdown-dark
            %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
              %span.username.username-hide-on-mobile= current_user.name
              = image_tag current_user.avatar, class: 'img-circle'

            %ul.dropdown-menu.dropdown-menu-default
              %li
                = link_to edit_user_path(current_user) do
                  %i.icon-user
                  My Profile
              %li
                = link_to edit_user_registration_path do
                  %i.icon-key
                  Change Password
              %li
                %a{:href => "app_calendar.html"}
                  %i.icon-calendar
                  My Calendar
              %li
                = link_to destroy_user_session_path(device_id: session[:device_id]), method: :delete do
                  %i.icon-key
                  Log Out
