.row
  .col-xs-12.col-md-12
    = simple_form_for(@sticker) do |f|
      = f.error_notification

      .form-body
        .form-group
          .image-uploader{align: 'center'}
            %a{:href => "#!"}
              = image_tag f.object.image, class: 'img-responsive', size: '150x150'
            = f.input :image, as: :file, label: 'Upload Image',
              :label_html => { class: 'btn btn-default'}
            = f.hidden_field :image_cache
          = f.input :name
          = f.association :sticker_group
          .pull-left
            -if policy(@sticker).create? || policy(@sticker).update?
              = f.button :submit
          .pull-right
            -if policy(@sticker).index?
              = link_to stickers_path, class: 'btn btn-default' do
                = fa_icon 'chevron-left'
                Back
            -if policy(@sticker).show?
              = link_to @sticker, class: 'btn btn-info' do
                = fa_icon 'eye'
                Show