.row
  .col-xs-12.col-md-12
    = simple_form_for(@user) do |f|
      = f.error_notification

      .image-uploader{align: 'center'}
        %a{:href => "#!"}
          = image_tag f.object.avatar, class: 'img-responsive', size: '150x150'
        = f.input :avatar, as: :file, label: 'Upload Image',
          :label_html => { class: 'btn btn-default'}
        = f.hidden_field :avatar_cache
        %p
          (Width 250px) - (Height 166px)



      = f.input :name
      = f.input :email
      = f.input :role, collection: User::ROLES
      = f.input :password
      = f.input :password_confirmation
      .pull-left
        -if policy(@user).create? || policy(@user).update?
          = f.button :submit, class: 'btn btn-primary'
      .pull-right
        -if policy(@user).index?
          = link_to users_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if params[:action] == "edit" && policy(@user).show?
          = link_to @user, class: 'btn btn-info' do
            = fa_icon 'eye'
            Show
