.portlet.light.bordered

  .portlet-title
    .caption
      Editing User

  .portlet-body.form
    = render 'form'
    %br
    -if policy(@user).index?
      = link_to users_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back
    -if policy(@user).show?
      = link_to @user, class: 'btn btn-success' do
        = fa_icon 'eye'
        Show