= render 'partials/page-head', title: 'Editing User'
.row
  .col-xs-12.col-md-5
    .thumbnail
      .caption
        %h3= @user.name
        %hr
        = render 'form'
        %hr
        %p
          = link_to 'Show', @user, class: 'btn btn-primary'
          = link_to 'Back', { action: :index }, class: 'btn btn-default'

