.row
  .col-xs-12.col-md-4
    .profile-sidebar
      .portlet.light.profile-sidebar-portlet.bordered

        .profile-userpic
          = image_tag @user.avatar_url, class: 'img-responsive'

        .profile-usertitle
          %br
          %table.table
            %tr
              %th Name
              %td= @user.name
            %tr
              %th Email
              %td= @user.email
            %tr
              %th Phone
              %td= @user.phone
            %tr
              %th Gender
              %td= @user.gender
            %tr
              %th Address
              %td= @user.address
            %tr
              %th Role
              %td= @user.role
            %tr
              %th Current Points
              %td= @user.current_points
        .profile-userbuttons
          = link_to 'Edit', edit_user_path(@user), class: 'btn btn-circle green btn-sm'
          = link_to 'Back', { action: :index }, class: 'btn btn-circle red btn-sm'
