= render 'partials/page-head', title: 'Show User'
.portlet.light.bordered
  .portlet-title
    .caption
      = @user.name
          
  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Avatar
        %td= image_tag @user.avatar_url, size: '150x150'
      %tr
        %th Name
        %td= @user.name
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Phone
        %td= @user.phone
      %tr
        %th Gender
        %td= @user.gender
      %tr
        %th Address
        %td= @user.address
      %tr
        %th Role
        %td= @user.role
      %tr
        %th Current Points
        %td= @user.current_points

    %br
    -if policy(@user).index?
      = link_to users_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back
    -if policy(@user).edit?
      = link_to [:edit, @user], class: 'btn btn-primary' do
        = fa_icon 'pencil'
        Edit
    -if policy(@user).destroy?
      = link_to @user, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
        = fa_icon 'trash'
        Delete

