= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification

  %h3.form-title.font-green Forgot your password?

  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.submit 'Send Instructions', class: 'btn green uppercase'
    
= render "devise/shared/links"
