.portlet.light.bordered
  .portlet-title
    .caption
      Show advertisement
  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Logo:
        %td= image_tag @advertisement.banner, size: '50x50'
      %tr
        %th Name:
        %td= @advertisement.name

      %tr
        %th Active:
        %td= @advertisement.active
      %tr
        %th For page:
        %td= @advertisement.for_page
      %tr
        %th Address:
        %td= @advertisement.address
      %tr
        %th Phone:
        %td= @advertisement.phone
      %tr
        %th Website:
        %td= @advertisement.website
      %tr
        %th Start date:
        %td= @advertisement.start_date
      %tr
        %th End date:
        %td= @advertisement.end_date

    .row.wrap-pad
      .pull-left
        -if policy(@advertisement).index?
          = link_to companies_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
      .pull-right
        -if policy(@advertisement).edit?
          = link_to [:edit, @advertisement], class: 'btn btn-primary' do
            = fa_icon 'pencil'
            Edit
        -if policy(@advertisement).destroy?
          = link_to @advertisement, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
            = fa_icon 'trash'
            Delete
