-if policy(sticker_group).show?
  = link_to sticker_group, class: 'btn btn-success' do
    = fa_icon 'eye'
    Show
-if policy(sticker_group).edit?
  = link_to [:edit, sticker_group], class: 'btn btn-primary' do
    = fa_icon 'pencil'
    Edit
-if policy(sticker_group).destroy?
  = link_to sticker_group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
    = fa_icon 'trash'
    Delete