.row
  .col-xs-12.col-md-4
    = simple_form_for(@sticker_group) do |f|
      = f.error_notification

      .form-body
        .form-group
          .image-uploader{align: 'center'}
            %a{:href => "#!"}
              = image_tag f.object.image, class: 'img-responsive', size: '150x150'
            = f.input :image, as: :file, label: 'Upload Image',
              :label_html => { class: 'btn btn-default'}
            = f.hidden_field :image_cache
          = f.input :name
          -if policy(@sticker_group).create? || policy(@sticker_group).update?
            = f.button :submit, class: 'btn btn-primary'
