-if policy(customer).show?
  = link_to customer, class: 'btn btn-success' do
    = fa_icon 'eye'
    Show
-if policy(customer).edit?
  = link_to [:edit, customer], class: 'btn btn-primary' do
    = fa_icon 'pencil'
    Edit
-if policy(customer).destroy?
  = link_to customer, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
    = fa_icon 'trash'
    Delete