.row
  .col-xs-12.col-md-12
    = simple_form_for(@customer) do |f|
      = f.error_notification

      .form-body
        .form-group
          .image-uploader{align: 'center'}
            %a{:href => "#!"}
              = image_tag f.object.avatar, class: 'img-responsive', size: '150x150'
            = f.input :avatar, as: :file, label: 'Upload Avatar',
              :label_html => { class: 'btn btn-default'}
            = f.hidden_field :avatar_cache
          = f.input :first_name
          = f.input :last_name
          = f.input :email
          = f.input :phone, input_html: { class: 'inputmask' }
          = f.input :address
          = f.input :gender
          = f.input :password
          = f.input :current_points
          = f.input :lat, as: :hidden
          = f.input :long, as: :hidden

      .row
        .col-xs-12.col-md-12
          #map-customer
          .pull-left
            -if policy(@customer).create? || policy(@customer).updates?
              = f.button :submit, class: 'btn btn-primary'

          .pull-right
            -if policy(@customer).index?
              = link_to customers_path, class: 'btn btn-default' do
                = fa_icon 'chevron-left'
                Back
            -if params[:action] == "edit" && policy(@customer).show?
              = link_to @customer, class: 'btn btn-primary' do
                = fa_icon 'eye'
                Show

