= render 'partials/page-head', title: 'Listing Customers'

%br

.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => customers_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-home
      Customers
  .portlet-body
    -if policy(@grid.assets).new?
      = link_to new_customer_path, class: 'btn btn-primary' do
        = fa_icon 'plus'
        Add New Customer
    .table-scrollable
      = paginate(@grid.assets)
      = datagrid_table @grid
      = paginate(@grid.assets)