-if policy(merchant).show?
  = link_to merchant, class: 'btn btn-info' do
    = fa_icon 'eye'
    Show
-if policy(merchant).edit?
  = link_to [:edit, merchant], class: 'btn btn-default' do
    = fa_icon 'pencil'
    Edit
-if policy(merchant).destroy?
  = link_to merchant, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
    = fa_icon 'trash'
    Delete