.portlet.light.bordered
  .portlet-title
    .caption
      Merchant Profile

  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Avatar:
        %td= image_tag @merchant.avatar_url, size: '50x50'
      %tr
        %th Name:
        %td= @merchant.name
      %tr
        %th Email:
        %td= @merchant.email
      %tr
        %th Phone:
        %td= @merchant.phone
      %tr
        %th Store:
        %td= @merchant.store_name

    .row.wrap-pad
      .pull-left
        = link_to merchants_path, class: 'btn btn-default' do
          = fa_icon 'chevron-left'
          Back
      .pull-right
        = link_to [:edit, @merchant], class: 'btn btn-primary' do
          = fa_icon 'pencil'
          Edit
        = link_to @merchant, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
          = fa_icon 'trash'
          Delete