.row
  .col-xs-12.col-md-4
    = simple_form_for(@company) do |f|
      = f.error_notification

      .image-uploader{align: 'center'}
        %a{:href => "#!"}
          = image_tag f.object.logo, class: 'img-responsive', size: '150x150'
        = f.input :logo, as: :file, label: 'Upload Logo',
          :label_html => { class: 'btn btn-default'}
        = f.hidden_field :logo_cache

      = f.input :name
      = f.input :address
      = f.input :point_rate
      = f.association :category
      = f.input :partner

      -if policy(@company).create? || policy(@company).updates?
        = f.button :submit, class: 'btn btn-primary'