= render 'partials/page-head', title: 'Show Company'
.portlet.light.bordered
  .portlet-title
    .caption
      = @company.name

  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Logo:
        %td= image_tag @company.logo_url, size: '50x50'
      %tr
        %th Name:
        %td= @company.name

      %tr
        %th Address:
        %td= @company.address
      %tr
        %th Category:
        %td
          = link_to @company.category_name, @company.category
      %tr
        %th Partner:
        %td= @company.partner_status

    .row.wrap-pad
      .pull-left
        -if policy(@company).index?
          = link_to companies_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
      .pull-right
        -if policy(@company).edit?
          = link_to [:edit, @company], class: 'btn btn-primary' do
            = fa_icon 'pencil'
            Edit
        -if policy(@company).destroy?
          = link_to @company, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
            = fa_icon 'trash'
            Delete