= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  
  %h3.form-title.font-green Sign In

  .form-inputs
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false

  .form-actions

    / Submit Form [Button]
    = f.submit 'Login', class: 'btn green uppercase'

    / Remeber Me [Check Box]
    %label.rememberme.check.mt-checkbox.mt-checkbox-outline
      = f.check_box :remember_me, as: :boolean if devise_mapping.rememberable?
      Remember
      %span