= render 'partials/page-head', title: 'Listing Claimed Rewards'

%br

.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => claimed_rewards_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-home 
      Claimed Reward
  .portlet-body
    .table-scrollable
      = paginate(@grid.assets)
      = datagrid_table @grid
      = paginate(@grid.assets)