= render 'partials/page-head', title: 'Show Claimed Reward'
.portlet.light.bordered
  .portlet-title
    .caption
      Status :
      = @claimed_reward.status
    .pull-right
      %h5= @claimed_reward.manage_climed_reward.html_safe
  .portlet-body
    .row
      .col-xs-12.col-md-6
        %h4.text-center Reward
        %table.table
          .width-auto.text-center.wrap-mar
            = image_tag @claimed_reward.reward.image, size: '50x50', class: "text-center"
          %tr
            %th Name
            %td= @claimed_reward.reward.name
          %tr
            %th Required Points
            %td= @claimed_reward.reward.require_points
          %tr
            %th Quantity
            %td= @claimed_reward.reward.quantity

      .col-xs-12.col-md-6
        %h4.text-center User
        %table.table
          .width-auto.text-center.wrap-mar
            = image_tag @claimed_reward.customer.avatar, size: '50x50', class: "text-center"
          %tr
            %th Name
            %td= @claimed_reward.customer.name
          %tr
            %th Email
            %td= @claimed_reward.customer.email
          %tr
            %th Phone
            %td= @claimed_reward.customer.phone
          %tr
            %th Gender
            %td= @claimed_reward.customer.gender
          %tr
            %th Address
            %td= @claimed_reward.customer.address
          %tr
            %th Current Points
            %td= @claimed_reward.customer.current_points



  - if policy(@claimed_reward).approve?
    = link_to approve_claimed_reward_path(@claimed_reward.id), method: :patch, class: 'btn btn-primary' do
      Approve
  - if policy(@claimed_reward).reject?
    = link_to reject_claimed_reward_path(@claimed_reward.id), method: :patch, class: 'btn btn-danger' do
      Reject

  .row.wrap-pad
    .pull-left
      -if policy(@claimed_reward).index?
        = link_to claimed_rewards_path, class: 'btn btn-default' do
          = fa_icon 'chevron-left'
          Back
    .pull-right
      -if policy(@claimed_reward).destroy?
        = link_to @claimed_reward, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
          = fa_icon 'trash'
          Delete
