= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

  .form-body
    .form-group
<%- attributes.each do |attribute| -%>
      = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
<%- end -%>

      = f.button :submit
      .pull-right
        = link_to <%= index_helper %>_path, class: 'btn btn-success' do
          Back
        = link_to @<%= singular_table_name %>, class: 'btn btn-primary' do
          Show