= simple_form_for(@customer_chat_support) do |f|
  = f.error_notification

  .form-body
    .form-group
      = f.association :customer
      = f.button :submit
      .pull-right
        = link_to customer_chat_supports_path, class: 'btn btn-success' do
          Back
        = link_to @customer_chat_support, class: 'btn btn-primary' do
          Show