.row
  .col-xs-12.col-md-12
    = simple_form_for(@category) do |f|
      = f.error_notification

      .image-uploader{align: 'center'}
        %a{:href => "#!"}
          = image_tag f.object.icon, class: 'img-responsive', size: '150x150'
        = f.input :icon, as: :file, label: 'Upload Icon',
          :label_html => { class: 'btn btn-default'}
        = f.hidden_field :icon_cache

      = f.input :name
      .pull-left
        -if policy(@category).create? || policy(@category).update?
          = f.button :submit, class: 'btn btn-primary'

      .pull-right
        -if policy(@category).index?
          = link_to categories_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if params[:action] == "edit" && policy(@category).show?
          = link_to @category, class: 'btn btn-info' do
            = fa_icon 'eye'
            Show