.row
  .col-xs-12.col-md-4
    = simple_form_for(@category) do |f|
      = f.error_notification

      .image-uploader{align: 'center'}
        %a{:href => "#!"}
          = image_tag f.object.icon, class: 'img-responsive', size: '150x150'
        = f.input :icon, as: :file, label: 'Upload Icon',
          :label_html => { class: 'btn btn-default'}
        = f.hidden_field :icon_cache

      = f.input :name

      -if policy(@category).create? || policy(@category).update?
        = f.button :submit, class: 'btn btn-primary'