.portlet.light.bordered

  .portlet-title
    .caption
      Editing Category

  .portlet-body.form
    = render 'form'
    %br
    -if policy(@category).index?
      = link_to categories_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back
    -if policy(@category).show?
      = link_to @category, class: 'btn btn-success' do
        = fa_icon 'eye'
        Show