.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => categories_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-pie-chart
      Listing Categories
  .portlet-body
    .table-scrollable
      = paginate(@grid.assets)
      = datagrid_table @grid
      = paginate(@grid.assets)
    -if policy(@grid.assets).new?
      = link_to new_category_path, class: 'btn btn-primary' do
        = fa_icon 'plus'
        Add New Category