= render 'partials/page-head', title: 'Show Category'
.portlet.light.bordered
  .portlet-title
    .caption
      = @category.name
          
  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Icon:
        %td= image_tag @category.icon_url, size: '150x150'
      %tr
        %th Name:
        %td= @category.name

    %br
    -if policy(@category).index?
      = link_to categories_path, class: 'btn btn-default' do
        = fa_icon 'chevron-left'
        Back
    -if policy(@category).edit?
      = link_to [:edit, @category], class: 'btn btn-primary' do
        = fa_icon 'pencil'
        Edit
    -if policy(@category).destroy?
      = link_to @category, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
        = fa_icon 'trash'
        Delete