= simple_form_for(@guide) do |f|
  = f.error_notification

  .form-body
    .form-group
      .image-uploader{align: 'center'}
        %a{:href => "#!"}
          = image_tag f.object.thumbnail, class: 'img-responsive', size: '150x150'
        = f.input :thumbnail, as: :file, label: 'Upload Thumbnail',
          :label_html => { class: 'btn btn-default'}
        = f.hidden_field :thumbnail_cache
      = f.input :title
      = f.input :youtube_url

      %br
      .pull-left
        -if policy(@guide).create? || policy(@guide).updates?
          = f.button :submit, class: 'btn btn-primary'

      .pull-right
        -if policy(@guide).index?
          = link_to guides_path, class: 'btn btn-default' do
            = fa_icon 'chevron-left'
            Back
        -if params[:action] == "edit" && policy(@guide).show?
          = link_to @guide, class: 'btn btn-primary' do
            = fa_icon 'eye'
            Show