.row
  .col-xs-12.col-md-12
    = simple_form_for(@receipt) do |f|
      = f.error_notification

      .image-uploader{align: 'center'}
        %a{:href => "#!"}
          = image_tag f.object.capture, class: 'img-responsive', size: '150x150'
        = f.input :capture, as: :file, label: 'Upload Image',
          :label_html => { class: 'btn btn-default'}
        = f.hidden_field :capture_cache

      = f.input :receipt_id, label: 'Receipt ID'
      = f.input :total
      = f.input :earned_points
      = f.association :store
      = f.association :customer

      -if policy(@receipt).create? || policy(@receipt).update?
        .pull-left
          -if policy(@receipt).create? || policy(@receipt).update?
            = f.button :submit, class: "btn btn-primary"
        .pull-right
          -if policy(@receipt).index?
            = link_to receipts_path, class: 'btn btn-default' do
              = fa_icon 'chevron-left'
              Back
          -if params[:action] == "edit" && policy(@receipt).show?
            = link_to @receipt, class: 'btn btn-info' do
              = fa_icon 'eye'
              Show