= render 'partials/page-head', title: 'Show Receipt'
.portlet.light.bordered
  .portlet-title
    .caption
      = @receipt.receipt_id
          
  .portlet-body
    %table.table
      %col{width: '10'}
      %col{width: '350'}
      %tr
        %th Capture:
        %td= image_tag @receipt.capture_url, size: '150x150'
      %tr
        %th Receipt ID:
        %td= @receipt.receipt_id
      %tr
        %th Total:
        %td= @receipt.total
      %tr
        %th Earned Points:
        %td= @receipt.earned_points
      %tr
        %th Status:
        %td= @receipt.status
      %tr
        %th Store:
        %td= @receipt.store.name
      %tr
        %th User:
        %td= @receipt.user.name

    - if policy(@receipt).approve?
      = simple_form_for @receipt, :url => approve_receipt_path do |f|
        = f.input :earned_points, label: 'Add more points?', input_html: {value: '0'}
        = f.submit 'Approve', class: 'btn btn-success'
      %br

    - if policy(@receipt).reject?
      = link_to reject_receipt_path(@receipt.id), method: :patch, class: 'btn btn-danger' do
        Reject
    %hr

    %br
    = link_to receipts_path, class: 'btn btn-default' do
      = fa_icon 'chevron-left'
      Back
    = link_to [:edit, @receipt], class: 'btn btn-primary' do
      = fa_icon 'pencil'
      Edit
    = link_to @receipt, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
      = fa_icon 'trash'
      Delete
