.portlet.light.bordered
  .portlet-title
    .caption
      Show Receipt
    .pull-right
      .portlet-title
        .caption
          %h5= @receipt.manage_receipt.html_safe
  .portlet-body
    .row
      .col-xs-12.col-md-5
        %table.table
          %col{width: '10'}
          %col{width: '350'}
          %tr
            %th.col-xs-4 Receipt ID:
            %td= @receipt.receipt_id
          %tr
            %th Total:
            %td= @receipt.total
          %tr
            %th Earned Points:
            %td= @receipt.earned_points
          %tr
            %th Status:
            %td= @receipt.status
          %tr
            %th Store:
            %td= @receipt.store.name
          %tr
            %th Customer:
            %td= @receipt.customer.name
      .col-xs-12.col-md-7
        %p.text-center Capture Receipt:
        .text-center
          = image_tag @receipt.capture_url


        %br
        %br
        %br
        %br


        - if policy(@receipt).approve?
          = simple_form_for @receipt, :url => approve_receipt_path do |f|
            = f.input :earned_points
            .pull-left
              = f.submit 'Approve', class: 'btn btn-success'

        - if policy(@receipt).reject?
          .pull-right
            = link_to reject_receipt_path(@receipt), method: :patch, class: 'btn btn-danger' do
              Reject
          %br
          %br
          %br

        .row
          .col-md-12
            .pull-left
              -if policy(@receipt).index?
                = link_to receipts_path, class: 'btn btn-default' do
                  = fa_icon 'chevron-left'
                  Back
            .pull-right
              -if policy(@receipt).edit?
                = link_to [:edit, @receipt], class: 'btn btn-primary' do
                  = fa_icon 'pencil'
                  Edit
              -if policy(@receipt).destroy?
                = link_to @receipt, method: :delete, data: {confirm: 'Are you sure?'} ,class: 'btn btn-danger' do
                  = fa_icon 'trash'
                  Delete