.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => ads_reports_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-diamond
      Report Adversements
    .pull-right
      = link_to url_for(format: 'csv', report_reward_grid: params[:report_reward_grid].try(:permit!)), class: "btn btn-sm btn-success" do
        = fa_icon 'download'
        Export Excel
  .portlet-body
    .table-scrollable
      = datagrid_table @grid
    .text-center
      = paginate(@grid.assets)
