-if policy(location).show?
  = link_to location, class: 'btn btn-success' do
    = fa_icon 'eye'
    Show
-if policy(location).edit?
  = link_to [:edit, location], class: 'btn btn-primary' do
    = fa_icon 'pencil'
    Edit
-if policy(location).destroy?
  = link_to location, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
    = fa_icon 'trash'
    Delete