= render 'partials/page-head', title: 'Listing Locations'

.m-heading-1.border-green.m-bordered
  = datagrid_form_for @grid, :method => :get, :url => locations_path

.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-map
      Locations
    .pull-right
      -if policy(@grid.assets).new?
        = link_to new_location_path, class: 'btn btn-primary' do
          = fa_icon 'plus'
          Add New Location
  .portlet-body
    .table-scrollable
      = datagrid_table @grid
    .text-center
      = paginate(@grid.assets)