!!!
%html

  %head
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_KEY']}"}

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:charset => "UTF-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title CodingateProject
    = csrf_meta_tags

    = action_cable_meta_tag

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

  %body.page-container-bg-solid.page-header-fixed.page-sidebar-closed-hide-logo{ id: "#{controller_name}_#{params[:action]}" }


    / BEGIN HEADER
    = render 'partials/topnav'
    / END HEADER

    / BEGIN HEADER & CONTENT DIVIDER
    .clearfix
    / END HEADER & CONTENT DIVIDER

    / BEGIN CONTAINER
    .page-container
      = render 'partials/message'

      / BEGIN SIDEBAR
      = render 'partials/sidebar'
      / END SIDEBAR

      / BEGIN CONTENT
      .page-content-wrapper
        .page-content
          = yield
      / END CONTENT

    / END CONTAINER

    / BEGIN FOOTER
    = render 'partials/footer'
    / END FOOTER


    = javascript_include_tag 'admin/quick-sidebar'
    = javascript_include_tag 'admin/quick-nav'

